{% if maplist %}
<script src="/static/js/slider.js" type="text/javascript" charset="utf-8"></script>

<div id="mapslider">
	<img class="scrollButtons left" src="/static/images/leftarrow.png">
	<div style="overflow: hidden;" class="scroll">
		<div class="scrollContainer">
    		{% for map in maplist %}
			<div class="mappanel" id="panel_{{ forloop.counter }}">
				<div class="inside">
					<img src="{{ map.preview }}" alt="picture" />
					<span class="map_id">{{ map.id }}</span>
					<div class="map_exp">{{ map.explanation|safe }}</div>
				</div>
			</div>
    		{% endfor %}
		</div>
		<div id="left-shadow"></div>
		<div id="right-shadow"></div>
	</div>
	<img class="scrollButtons right" src="/static/images/rightarrow.png">
</div>
<div id="curr_exp"></div>
{% else %}
<p>There are no candidate maps.</p>
{% endif %}