#container{
    text-align:center;
}
#header {
    text-align:center;
    margin:20px 0px;
}
ul#nav {
    position:relative;
    top:-15px;
    text-align:right
}
ul#nav span {
    font-size:11px;
    color:#11138F;
    padding:0px 2px 0px 6px;
    position:relative;
    top:0px;
}
ul#nav li {
    display:inline;
    text-decoration-none;
}
ul#nav li a {
    color:#11138F;
}
#logout {
    opacity:0.0;
}
.dialogues {
    text-align:center;
}

#mapvis {
	width: 450px;
	height: 450px;
}


#dialogues-new {}
#dialogues-new p {
    font-size:200%;
    margin:50px 0px 0px 0px;
}
#dialogues-new .tip {
    font-size:150%;
    color:#8f8f8f;
    margin:8px 4px;
}
#dialogues-new div.entry input, textarea {
    padding:4px;
    width:80%;
    font-size:150%;
}

#chatbox {
    position:absolute;
    z-index:1999;
    bottom:2px;
    right:8px;
    background-color:#EFEFEF;
    border:1px solid #DFDFDF;
    font-family:sans-serif;
    width:200px;
    height:20px;
}
#chatbox p#chat_title {
    padding:4px;
    margin:0px;
    height:14px;
    background-color:#D1D5DF;
    border-bottom:1px solid #DFDFDF;
}
#chatbox span#chat_open, span#chat_close {
    float:right;
    padding-right:4px;
    font-weight:bold;
    cursor:pointer;
}
#chat_type_box {
    margin-left:2px;
    width:184px;
    height:30px;
    position:absolute;
    bottom:-4px;
	font-size:100%;
}
.chatmsg {
    margin:0px;
    padding:2px;
}
#chat_text {
    position:relative;
    height:225px;
    width:194px;
    overflow-y:auto;
    border:none;
}
#chat_box_body {
    display:none;
}