{% extends 'base.html' %}

{% block content %}
	<div id="header" class="span-24 last"><h1>Experiment for Collaborative Map Design</h1></div>
	<div id="container" class="container"> 
		<div id="dialogues-current" class="span-12 last dialogues">
      {% if user.is_authenticated %}
  		<h2>Participated dialogues</h2>
  		{% if participated_dialogues %}
    	{% for dialogue in participated_dialogues %}
    	<p><a href="/dialogues/{{ dialogue.guid }}/">{{ dialogue.name }}</a></p>
			{% endfor %}
    	{% else %}
      <p>There are no dialogues participated yet.</p>
      {% endif %}
  		{% else %}
  		<p>Please <a href="/accounts/login/">Login</a> or <a href="/accounts/register/">Sign up</a></p>
  		{% endif %}
    </div>
		<div id="dialogues-current" class="span-12 last dialogues">
      <h2>Current dialogues</h2>
    	{% if current_dialogues %}
    	{% for dialogue in current_dialogues %}
			{% if user.is_authenticated %}
      <p><a href="/dialogues/{{ dialogue.guid }}/">{{ dialogue.name }}</a></p>
			{% else %}
			<p>{{ dialogue.name }}</p>
			{% endif %}
      {% endfor %}
    	{% else %}
      <p>There are no ongoing dialogues.</p>
      {% if user.is_authenticated %}
			<p><a href="/dialogues/new/">Create a new dialogue!</a></p>
		  {% endif %}
    	{% endif %}
    	</div>
  	</div><!-- end #container -->
{% endblock %}
